# Compiled class files
*.class

# Package files
*.jar
*.war
*.nar
*.ear

# IDE specific files
.idea/
.vscode/
*.iml

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*
replay_pid*